<div>
    <div>
        <div class="pad-bottom">
            <button type="button" class="btn btn-info" (click)="stability.printGrid()">
                Print
            </button>
            <button type="button" class="btn btn-info" (click)="stability.showhidePlots()">
                {{stability.showPlotsState}}
            </button>
            <button type="button" class="btn btn-info" (click)="stability.loadStabilityPlots()">
                Refresh Plots
            </button>
            <button type="button" class="btn btn-info" (click)="stability.saveDataToEKB()">
                Save data
            </button>
            <div id="process-formulation-plot"></div>
        </div>
    </div>
    
    <div [hidden]="!stability.changesMade"><p class="changes-warning">Please ensure you save your changes.</p></div>
    
    <div>
        <button class="btn btn-warning" *ngIf="stability.executionMode == 'manual'" (click)="stability.changeMode()">Manual</button>
        <button class="btn btn-success" *ngIf="stability.executionMode == 'auto'" (click)="stability.changeMode()">High Throughput</button>
        
        <button  class="btn btn-success" *ngIf="stability.executionMode == 'auto'">Load EMS Data</button>
        <button  class="btn btn-info">Save</button>
        <button  class="btn btn-info"  (click)="stability.saveToNotebook()">Open Notebook</button>
    </div>

    <form class="form-inline pad-top" name="name1">
        <label for="week">Select Test Time:</label>
        <select class="form-control" id="week" name="week" [(ngModel)]="stability.selection.testWeek">
            <option *ngFor="let week of stability.options.testWeeks">
                {{week}}
            </option>
        </select>

        <button (click)="stability.MoveDateTime(-1)" class="btn btn-info" >Back</button>
        <button (click)="stability.MoveDateTime(1)" class="btn btn-info" >Next</button>
        <button (click)="stability.NewTestWeek()" class="btn btn-info" >New</button>
        <input type="number" id="newWeek" class="form-control" name="name2" [(ngModel)]="stability.newTestWeek"/>
        <label for="newWeek">week</label>
    </form>
    <br/>
    <div id="stability-grid" ></div>
    
    <div class="form-inline pad-top">
        <label for="plot-type">Select plot style</label>
        <select class="form-control" id="plot-type" [(ngModel)]="stability.plotStyle" (change)="stability.loadStabilityPlots()">
            <option *ngFor="let plotStyle of stability.options.plotStyles">{{plotStyle}}
            </option>
        </select>
    </div>
    <div [hidden]="!stability.showPlots">
        <div [hidden]="stability.plotStyle!='Selected week'">
            <div>
                <div id="stability-plots-this-pH" class="col-sm-6" ></div>
                <div id="stability-plots-this-visc2" class="col-sm-6"></div>
            </div>
            <div>
                <div id="stability-plots-this-visc21" class="col-sm-6"></div>
                <div id="stability-plots-this-visc106" class="col-sm-6"></div>
            </div>
        </div>
        <div [hidden]="stability.plotStyle!='All weeks'">
            <div>
                <div id="stability-plots-all-pH" class="col-sm-6" ></div>
                <div id="stability-plots-all-visc2" class="col-sm-6"></div>
            </div>
            <div>
                <div id="stability-plots-all-visc21" class="col-sm-6"></div>
                <div id="stability-plots-all-visc106" class="col-sm-6"></div>
            </div>
        </div>
        
        <div id="stability-plots-all"></div>
      </div>  
    
    
</div>

