<my-header></my-header>

 <nav>
    <a 
        [ngClass]="app.linkClass('design')" 
        routerLinkActive="active" 

        (click)="navigate('design')"
        >
        Design 
    </a>

    <a 
        [ngClass]="app.linkClass('formulation')" 

        routerLinkActive="active" 

        (click)="navigate('formulation')"
        >
        Formulation
    </a>

    <a 
        [ngClass]="app.linkClass('stability')"
 
        routerLinkActive="active" 
        (click)="navigate('stability')"
        >
        Stability
     </a>
</nav>

<hr>

<router-outlet></router-outlet>


