<button (click)="info()"> Drop  {{designData.parentFormulation.gotData}} </button>    


<!--<div fileDrop
  [ngClass]="{'file-is-over': fileIsOver}"
  [options]="options"
  (fileOver)="fileOver($event)"
  (onFileDrop)="uploadThenRunProtocol($event)">
  Drop file here<br><br><br>
</div>-->

<div id="parentFormulationHOT" [hidden]="!designData.parentFormulation.gotData"></div>

<div><br><br><br>
      <button type="button" [ngClass]="state.nextButtonClass()" (click)="state.nextState()">Next</button>
</div>
