<div  class="drop-box well" 
      on-dragenter="$event.stopPropagation(); $event.preventDefault();"                   
      on-dragover="$event.stopPropagation(); $event.preventDefault();"                    
      on-drop="$event.stopPropagation(); $event.preventDefault(); uploadThenRunProtocol($event);">
      Drop file here<br><br><br>
</div>

<div id="parentFormulationHOT" [hidden]="!designData.parentFormulation.gotData"></div>

<div><br><br><br>
      <button type="button" [ngClass]="state.nextButtonClass()" (click)="state.nextState()">Next</button>
</div>
