<div>
    <h2>Test formulations</h2>
    
    <div *ngIf="!experimentSetup.experimentTypes.gotData">
        <p>Total Quantity: {{experimentSetup.experimentInfo.totalQuantity.quantity}} {{experimentSetup.experimentInfo.totalQuantity.unit}}</p>
    </div>
    
    <div *ngIf="experimentSetup.experimentTypes.gotData">    
        <div class="form-inline pad-bottom">
            <label for="formulationQuantity">Total quantity</label>
            <input type="number" class="form-control" id="formulationQuantity" [(ngModel)]="experimentSetup.experimentInfo.totalQuantity.quantity"/>
            <select class="form-control" id="formulationQuantityUnit" [(ngModel)]="experimentSetup.experimentInfo.totalQuantity.unit" >
                <option class="form-control" *ngFor="let unit of experimentSetup.availableUnits">{{unit}}</option>

            </select>
        </div>
    
        <div class="pad-bottom">
            <h4>Search FLOW for additional ingredients</h4>
        </div>
        <div class="form-inline pad-bottom">
            <label class="test-sched-label" for="nameLookup">Search by material name</label>
            <input type="string" class="form-control" [(ngModel)]="design.flowMaterialLookupName" id="nameLookup"/>
            <button class="btn btn-info btn-sm" type="button" (click)="design.findFlowMaterialName()">Find</button>
        </div>
        <div class="form-inline pad-bottom">
            <label class="test-sched-label" for="idLookup">Search by Material ID</label>
            <input type="string" class="form-control" [(ngModel)]="design.flowMaterialLookupID" id="idLookup"/>
            <button class="btn btn-info btn-sm" type="button" (click)="design.findFlowMaterialID()">Find</button>
        </div>
    </div>
    
    <div id="allFormulationsHOT"></div>
    <div id="allFormulationsPlot"></div>

    
    <div [hidden]="!experimentSetup.experimentTypes.gotData">
        <button [ngClass]="state.prevButtonClass()" (click)="state.prevState()">Previous</button>
        <button [ngClass]="state.nextButtonClass()" (click)="state.nextState()">Next</button>
    </div>
</div>

